<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
    <h1>Video Streaming Demonstration</h1>
    <img src="{{ url_for('video_feed') }}">
    <div id="msg-box"></div>
      <script>
        var source = new EventSource("http://localhost:5000/status")
        source.onopen = (e) => console.log("Connection opened")
        source.onerror = (e) => console.log("Error:", event)
        source.onmessage = (e) => {
          if (event.data !== "[DONE]") {
            document.getElementById("msg-box").innerHTML = event.data
          } else {
            console.log("Connection closed")
            source.close()
          }
        }
      </script>
      {% if is_recording==False %} 
      <form action="/start" method="get">
        <label for="basename">name:</label><br>
        <input type="text" id="basename" name="basename" value="test"><br>
        <input type="submit" value="Start Recording">
      </form>
      {% else %}
      <form action="/stop" method="get">
        <input type="submit" value="Stop Recording">
      </form>
      {% endif %}
  </body>
</html>
