<html>
  <head>
    <title>Video Sync App</title>
  </head>
  <body>
    <h1>Video Sync App</h1>
    <img src="{{ url_for('video_feed') }}">
    <div id="msg-box"></div>
      <script>
        var source = new EventSource("http://localhost:5000/status")
        source.onopen = (e) => console.log("Connection opened")
        source.onerror = (e) => console.log("Error:", event)
        source.onmessage = (e) => {
          if (event.data !== "[DONE]") {
            document.getElementById("msg-box").innerHTML = event.data
          } else {
            console.log("Connection closed")
            source.close()
          }
        }
      </script>
      {% if is_recording==False %} 
      <form action="/start" method="get">
        <label for="basename">name:</label><br>
        <input type="text" id="basename" name="basename" value="test"><br>
        <input type="submit" value="Start Recording">
      </form>
      {% else %}
      <form action="/stop" method="get">
        <input type="submit" value="Stop Recording">
      </form>
      {% endif %}
      <hr>
        <h2>Download files:</h2>
        <table>
            {% for (file,sz) in files %}
            {% set ftxt = file + ".npy" %}
            {% set mb = (sz / 1024 / 1024) | round(2) %}
                <tr>
                    <td>{{file}}</td><td><a href="{{url_for('download', filename=file)}}">video</a></td><td><a href="{{url_for('download', filename=ftxt)}}">npy</a></td>
                    <td>({{mb}} MB)</td>
                </tr>
            {% endfor %}
        </table>

  </body>
</html>
